@model LOTO.Models.Machine

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Machine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MachineSerialNumber" class="control-label"></label>
                <input asp-for="MachineSerialNumber" class="form-control" />
                <span asp-validation-for="MachineSerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineName" class="control-label"></label>
                <input asp-for="MachineName" class="form-control" />
                <span asp-validation-for="MachineName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineOemName" class="control-label"></label>
                <input asp-for="MachineOemName" class="form-control" />
                <span asp-validation-for="MachineOemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachinePictureFile" class="control-label"></label>
                @*<input type="file" class="custom-file-input" id="customFile">*@
                <input type="file" class="custom-file-input" asp-for="MachinePictureFile" />
                <span asp-validation-for="MachinePictureFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineNamePlate" class="control-label"></label>
                <input asp-for="MachineNamePlate" class="form-control" />
                <span asp-validation-for="MachineNamePlate" class="text-danger"></span>
            </div>
            @*[Display(Name = "Customer Defined Area")]
            public string CustomerDefinedArea { get; set; }*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexMachineArea">Back to List</a>
</div>

