@model LOTO.Models.Machine

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Machine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MID" />
            <div class="form-group">
                <label asp-for="MachineSerialName" class="control-label"></label>
                <input asp-for="MachineSerialName" class="form-control" />
                <span asp-validation-for="MachineSerialName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineName" class="control-label"></label>
                <input asp-for="MachineName" class="form-control" />
                <span asp-validation-for="MachineName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineOemName" class="control-label"></label>
                <input asp-for="MachineOemName" class="form-control" />
                <span asp-validation-for="MachineOemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineOemName" class="control-label"></label>
                <input asp-for="MachineOemName" class="form-control" />
                <span asp-validation-for="MachineOemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachinePictureFile" class="control-label"></label>
                <input asp-for="MachinePictureFile" class="form-control" />
                <span asp-validation-for="MachinePictureFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineNamePlate" class="control-label"></label>
                <input asp-for="MachineNamePlate" class="form-control" />
                <span asp-validation-for="MachineNamePlate" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="Notes" class="control-label"></label>
            <input asp-for="Notes" class="form-control" />
            <span asp-validation-for="Notes" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MachineMap" class="control-label"></label>
            <input asp-for="MachineMap" class="form-control" />
            <span asp-validation-for="MachineMap" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexMachines">Back to List</a>
</div>

