@{
    ViewData["Title"] = "Home Page";
}
    <html lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>

        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Create documentation and procedures for your safety</a>.</p>

        </div>

        <div class="text-center">
            <div>
                <input type="button" class="btn btn-outline-primary" value="Facilities" onclick="location.href='@Url.Action("IndexFacilities", "Facilities")'">
            </div>
            <div>
                <input type="button" class="btn btn-outline-primary" value="Customers" onclick="location.href='@Url.Action("IndexMachineArea", "Machines")'">
            </div>
        </div>
    </body>